body {
  background-color: #bcd6ff;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main';
  grid-gap: 10px;
  background-color: rgba(146, 146, 147, 0.7);
  padding: 10px;
}
.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
